@import 'https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700';
@import 'https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800';
@import 'https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;600;700';
body {
  background-color: rgb(230, 230, 230) !important;
  font-family: Roboto Mono !important;
  background: linear-gradient(-45deg, #ffffff, #ece4a4, #e2f7e6, #9e9e9e);
  background-size: 400% 400%;
  animation: gradient 12s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
a {
  color: rgb(170, 170, 170) !important;
  text-decoration: none !important;
}

a:hover {
  color: #bbfdc6 !important;
  transition: 250ms;
}

#hero {
  text-align: center;
  font-size: 48px;
  font-family: Roboto Mono, sans-serif;
  font-weight: 400;
}

#nav {
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
  padding: 16px;
}

.navbar {
  margin: auto;
  height: 4rem !important;
  line-height: 2rem;
  width: 40%;
  margin-top: 16px;
  margin-bottom: 16px;
  padding-left: 16px !important;
  padding-right: 16px !important;
  border-radius: 8px !important;
  align-items: baseline !important;
  opacity: 1 !important;
  box-shadow: 0 0 24px gray;
  background-color: lightgray !important;
}

.navbar-brand, .nav-link {
  color: black !important;
  font-weight: bold !important;
}

.fixed-top {
  top: 16px !important;
}

.whitespace {
  top: 0;
  height: 10rem;
  width: 100%;
  background-color: transparent;
}

.blur-block {
  position: fixed;
  top: 0;
  margin: auto;
  height: 12rem;
  width: 100%;
  backdrop-filter: blur(8px);
  z-index: 1;
  background-color: transparent;
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgb(0, 0, 0)), to(rgba(0, 0, 0, 0)));
}

.block-bottom {
  top: auto !important;
  bottom: 0;
  -webkit-mask-image: -webkit-gradient(linear, left bottom, left top, from(rgb(0, 0, 0)), to(rgba(0, 0, 0, 0))) !important;
}

.gradient {
  position: fixed;
  top: 0;
  height: 12rem;
  width: 100%;
  z-index: 1;
  background-color: transparent;
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgb(0, 0, 0)), to(rgba(0, 0, 0, 0)));
}

.navbar-brand {
  font-size: 24px !important;
}

.nav-link {
  font-size: 20px !important;
}

a.anchor {
  display: block;
  position: relative;
  top: -10rem;
  visibility: hidden;
}

#content {
  margin-bottom: 10rem;
}

.container-md {
  margin-left: 20% !important;
  margin-right: auto !important;
  max-width: 60% !important;
}

.card {
  margin-bottom: 64px;
  background-color: rgb(60, 60, 60) !important;
  color: white;
  box-shadow: 0 0 16px gray;
}

.card-divide {
  display: flex;
}

.card-text {
  font-size: 16px;
  flex: 5;
  padding: 16px;
}

.icon-container {
  flex: 3;
  padding: 16px;
  border-left: 2px solid white;
  text-align: center;
}

.card-flex {
  margin-top: 36px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  gap: 1.75rem 1.75rem;
}

.card-flex > * {
  display: flex;
  margin: auto;
  text-align: center;
}

.fa-brands:hover {
  color: #bbfdc6;
}

svg:hover > * {
  fill: #bbfdc6;
}

.image-container {
  display: flex;
  align-items: center;
  text-align: left;
  justify-content: end;
}

.gif-image {
  margin-top: 32px;
  margin-bottom: 32px;
  margin-left: 16px;
  margin-right: 16px;
  height: 25rem;
}

.image-text {
  flex: 1;
  text-align: center;
  margin: 16px;
  font-size: 16px;
}

.profile-container {
  float: left;
  display: flex;
  align-items: center;
  text-align: left;
  justify-content: end;
}

img {
  border-radius: 8px;
}

img.profile {
  display: inline-block;
  margin-left: 0;
  margin-right: auto;
  max-width: 100%;
  height: 400px;
  object-fit: cover;
  margin-top: 16px;
  margin-left: 16px;
  margin-right: 16px;
}

.wrap-text {
  margin: 0px;
}

.contact-link {
  font-size: 20px;
}

@media only screen and (min-device-width: 360px) and (max-device-width: 896px) {
  h5 {
    font-size: 16px !important;
  }
  h6 {
    font-size: 12px !important;
  }
  #nav {
    padding: 0px;
  }
  .navbar {
    width: 80%;
    flex-wrap: none !important;
    line-height: 0rem;
    height: 2.5rem !important;
    align-items: center !important;
    box-shadow: 0 0 12px gray;
  }
  .navbar-nav {
    flex: 1;
    flex-direction: row !important;
  }
  .whitespace {
    height: 5rem;
  }
  .blur-block {
    height: 6rem;
  }
  .gradient {
    height: 6rem;
  }
  .w-100 {
    width: 75% !important;
    max-width: 75% !important;
  }
  a.anchor {
    top: -5rem;
  }
  .navbar-brand {
    font-size: 18px !important;
    max-width: 25%;
  }
  .nav-link {
    font-size: 12px !important;
  }
  .container-md {
    padding: 0% !important;
    margin-left: 2.5% !important;
    margin-right: 2.5% !important;
    max-width: 95% !important;
  }
  .card {
    margin-bottom: 0px !important;
  }
  img {
    max-width: 100%;
    max-height: 100%;
    margin-top: 0px !important;
  }
  img.profile {
    height: 150px;
  }
  .gif-image {
    margin: 16px 16px;
    height: auto;
  }
  .gif-image:last-child {
    margin-bottom: 0px;
  }
  .card-divide {
    flex-direction: column;
  }
  .card-flex {
    margin-top: 16px;
    gap: 0.5rem 2rem;
  }
  .icon-container {
    flex: 3;
    padding: 16px;
    border-left: none;
    border-top: solid 2px white !important;
    border-bottom: solid 2px white !important;
  }
  .image-container {
    flex-direction: column;
    float: none;
  }
  .card-text {
    font-size: 12px;
    padding: 0px;
    margin-bottom: 16px;
  }
  .image-text {
    margin-top: 16px !important;
    margin-bottom: 4px;
    font-size: 12px;
  }
  .contact-link {
    font-size: 16px;
  }
}

/*# sourceMappingURL=style.css.map */
