@import 'https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700';
@import 'https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800';
@import 'https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;600;700';

// $primary-color: rgb(60, 60, 60);
$accent-color: #bbfdc6;
$card-color: rgb(60, 60, 60);
// $card-color: rgb(100, 100, 100);
$primary-font: Roboto Mono;
$primary-background: rgb(230, 230, 230);
$shadow: 0 0 16px gray;

$gradient-height: 12rem;
$block-height: 10rem;

body {
  background-color: $primary-background !important;
  font-family: $primary-font !important;


  background: linear-gradient(-45deg, #ffffff, #dddddd, #e2f7e6, #9e9e9e);
  background-size: 400% 400%;
  animation: gradient 12s ease infinite;


@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
}

a {
  color: rgb(170, 170, 170) !important;
  text-decoration: none !important;
}

a:hover {
  color: $accent-color !important;
  transition: 500ms;
}

#hero {
  text-align: center;
  font-size: 48px;
  font-family: $primary-font, sans-serif;
  font-weight: 400;
}

#nav {
  position: fixed;
  top: 0;
  z-index:2;
  width: 100%;
  padding: 16px;
  // backdrop-filter: blur(1px);
}

.navbar {
  margin: auto;
  height: 4rem !important;
  width: 40%;
  margin-top: 16px;
  margin-bottom: 16px;
  padding-left: 16px !important;
  padding-right: 16px !important;
  border-radius: 8px !important;
  align-items: baseline !important;
  opacity: 1 !important;
  // border: 2px solid rgb(140,140,140);
  box-shadow: 0 0 24px gray;
  background-color: lightgray !important;
}

.navbar-brand, .nav-link {
  color: black !important;
  font-weight: bold !important;
}

.fixed-top {
  top: 16px !important;
}

.whitespace {
  top: 0;
  height: $block-height;
  width: 100%;
  background-color: transparent;
}

.blur-block {
  position: fixed;
  top: 0;
  margin: auto;
  height: $gradient-height;
  width: 100%;
  backdrop-filter: blur(8px);
  z-index: 1;
  background-color: transparent;
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, 
    from(rgba(0,0,0,1)), to(rgba(0, 0, 0, 0)));
}

.block-bottom {
  top: auto !important;
  bottom: 0;
  -webkit-mask-image: -webkit-gradient(linear, left bottom, left top, 
    from(rgba(0,0,0,1)), to(rgba(0, 0, 0, 0))) !important;
}

.gradient {
  position: fixed;
  top: 0;
  height: $gradient-height;
  width: 100%;
  z-index: 1;
  background-color: transparent;
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, 
    from(rgba(0,0,0,1)), to(rgba(0, 0, 0, 0)));
}

.navbar-brand {
  font-size: 24px !important;
}

.nav-link {
  font-size: 20px !important;
}

a.anchor {
  display: block;
  position: relative;
  top: -$block-height;
  visibility: hidden;
}

#content {
  margin-bottom: $block-height;
}

.container-md {
  margin-left: 20% !important;
  margin-right: auto !important;

  max-width: 60% !important;
}

.card {
  margin-bottom: 64px;
  background-color: $card-color !important;
  color: white;
  box-shadow: $shadow;  
}

.card-divide {
  display: flex;
}

.card-divide > .card-text:nth-child(2) {
  border-left: 4px solid white;
  // height: 100px;
}

.card-text {
  font-size: 18px;
  flex: 5;
  padding: 16px;
}

.icon-container {
  flex: 3;
  padding: 16px;
  border-left: 2px solid white;
  text-align: center;
}

.card-flex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  gap: 20px 50px;
  // justify-content:space-around;
}

.card-flex > * {
  display: flex;
  margin: auto;
  text-align: center;
}

.fa-brands:hover {
  color: $accent-color;
}

svg:hover > * {
  fill: $accent-color;
}

.image-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.image {
  margin-top: 32px;
  margin-bottom: 32px;
  margin-left: 16px;
  margin-right: 16px;
  // border: solid 12px $accent-color;
  // border-image-slice: 10;
  // border-image-source: linear-gradient(to right, $accent-color, #ffffff);
}

.image:nth-child(odd) {
  border: solid 12px $accent-color;
  border-image-slice: 10;
  border-image-source: linear-gradient(to right, $accent-color, #d6d6d6);
}

.image:nth-child(even) {
  border: solid 12px $accent-color;
  border-image-slice: 10;
  border-image-source: linear-gradient(to left, $accent-color, #d6d6d6);
}

.image-text {
  text-align: center;
  margin: 16px; 
}

.profile-container {
  float: left;

}

img.profile {
  display: inline-block;
  margin-left: 0;
  margin-right: auto;
  max-width: 100%;
  height: 400px;
  object-fit: cover;
  margin-top: 16px;
  margin-left: 16px;
  margin-right: 24px;
}

.wrap-text {
  margin: 8px;
}

// .gif-frame {
//   position: absolute;
// }

// .gif-frame:hover {
//   opacity: 0;
// }