@import 'https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700';
@import 'https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800';
@import 'https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;600;700';

// $primary-color: rgb(60, 60, 60);
$accent-color: #bbfdc6;
$card-color: rgb(60, 60, 60);
// $card-color: rgb(100, 100, 100);
$primary-font: Roboto Mono;
$primary-background: rgb(230, 230, 230);
$shadow: 0 0 16px gray;

$gradient-height: 12rem;
$block-height: 10rem;

$mobile-gradient-height: 7rem;
$mobile-block-height: 5rem;

body {
  background-color: $primary-background !important;
  font-family: $primary-font !important;


  background: linear-gradient(-45deg, #ffffff, #ece4a4, #e2f7e6, #9e9e9e);
  background-size: 400% 400%;
  animation: gradient 12s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

hr.line {
  border: none;
  height: 4px;
  background: $accent-color;
  opacity: 1;
}

a {
  color: rgb(170, 170, 170) !important;
  text-decoration: none !important;
}

a:hover {
  color: $accent-color !important;
  transition: 250ms;
}

#hero {
  text-align: center;
  font-size: 48px;
  font-family: $primary-font, sans-serif;
  font-weight: 400;
}

#nav {
  position: fixed;
  top: 0;
  z-index:2;
  width: 100%;
  padding: 16px;
  // backdrop-filter: blur(1px);
}

#nav-bottom {
  position: relative;
  z-index:2;
  width: 100%;
  padding: 16px;
}

.navbar {
  margin: auto;
  height: 4rem !important;
  line-height: 2rem;
  width: 40%;
  margin-top: 16px;
  margin-bottom: 16px;
  padding-left: 16px !important;
  padding-right: 16px !important;
  border-radius: 8px !important;
  align-items: baseline !important;
  opacity: 1 !important;
  // border: 2px solid rgb(140,140,140);
  box-shadow: 0 0 24px gray;
  background-color: lightgray !important;
}

.navbar-bottom {
  margin: auto;
  height: 4rem !important;
  width: 30%;
  margin-top: 16px;
  margin-bottom: 16px;
  padding-left: 16px !important;
  padding-right: 16px !important;
  border-radius: 8px !important;
  text-align: center;
  opacity: 1 !important;
  box-shadow: 0 0 24px gray;
  background-color: lightgray !important;
}

.navbar-nav {
  flex: 1;
  flex-direction: row !important;
}

.navbar-brand, .nav-link {
  color: black !important;
  font-weight: bold !important;
}

.fixed-top {
  top: 16px !important;
}

.whitespace {
  top: 0;
  height: $block-height;
  width: 100%;
  background-color: transparent;
}

.blur-block {
  position: fixed;
  top: 0;
  margin: auto;
  height: $gradient-height;
  width: 100%;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  z-index: 1;
  background-color: transparent;
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, 
    from(rgba(0,0,0,1)), to(rgba(0, 0, 0, 0)));
}

.block-bottom {
  top: auto !important;
  bottom: 0;
  -webkit-mask-image: -webkit-gradient(linear, left bottom, left top, 
    from(rgba(0,0,0,1)), to(rgba(0, 0, 0, 0))) !important;
}

.gradient {
  position: fixed;
  top: 0;
  height: $gradient-height;
  width: 100%;
  z-index: 1;
  background-color: transparent;
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, 
    from(rgba(0,0,0,1)), to(rgba(0, 0, 0, 0)));
}

.navbar-brand {
  font-size: 24px !important;
}

.nav-link {
  font-size: 20px !important;
}

a.anchor {
  display: block;
  position: relative;
  top: -$block-height;
  visibility: hidden;
}

.container-md {
  margin-left: 20% !important;
  margin-right: auto !important;

  max-width: 60% !important;
}

.card {
  margin-bottom: 64px;
  background-color: $card-color !important;
  color: white;
  box-shadow: $shadow;  
}

.card-subtitle {
  margin-bottom: 0px;
  margin-left: 16px !important;
}

.card-divide {
  display: flex;
}

.card-text {
  font-size: 16px;
  flex: 5;
  padding: 16px;
  height: 100%;
}

.icon-container {
  flex: 3;
  padding: 16px;
  border-left: 2px solid white;
  text-align: center;
}

.card-flex {
  margin-top: 24px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  gap: 1.5rem 3rem;
  // justify-content:space-around;
}

.card-flex > * {
  display: flex;
  margin: auto;
  text-align: center;
}

.fa-brands:hover {
  color: $accent-color;
}

svg:hover > * {
  fill: $accent-color;
}

.image-container {
  display: flex;
  align-items: center;
  text-align: left;
  justify-content: end;
}

.gif-image {
  margin-top: 32px;
  margin-bottom: 32px;
  margin-left: 16px;
  margin-right: 16px;
  width: 40rem;
  max-width: 70%;
  // border: solid 12px $accent-color;
  // border-image-slice: 10;
  // border-image-source: linear-gradient(to right, $accent-color, #ffffff);
}

.still-image {
  border: solid 8px $accent-color;
  @extend .gif-image;
}

.image-text {
  flex: 1;
  text-align: left;
  margin: 16px; 
  font-size: 16px;
}

.profile-container {
  float: left;
  display: flex;
  align-items: center;
  text-align: left;
  justify-content: end;
}

img {
  border-radius: 8px;
}

img.profile {
  display: inline-block;
  max-width: 100%;
  height: 400px;
  object-fit: cover;
  margin-top: 16px;
  // margin-bottom: 16px;
  margin-left: 16px;
  margin-right: 16px;
}

#summa-icon {
  height: 48px; 
  width: 48px; 
  filter: invert(100%) !important; 
  transform: translateY(-4px);
}

.wrap-text {
  margin: 0px;
}

.contact-link {
  font-size: 20px;
}

#contact-container > .card-text:not(:first-child) {
  border-left: solid 2px white;
}

.footer-text {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 16px;
}

// .gif-frame {
//   position: absolute;
// }

// .gif-frame:hover {
//   opacity: 0;
// }

@media (max-width: 1350px) and (min-width: 400px) { 
  .container-md {
    margin-left: 2.5% !important;
    margin-right: 2.5% !important;
    max-width: 95% !important;
  }

  .navbar {
    width: 70% !important;
  }

  .navbar-bottom {
    width: 50% !important;
  }

  .navbar-brand {
    font-size: 1.25rem !important;
  }

  .nav-link {
    font-size: 1rem !important;
  }

  .profile-container {
    text-align: center;
  }

  img.profile {
    max-height: 80% !important;
  }

  .gif-image {
    height: 100% !important;
    max-width: 80% !important;
  }

  .still-image {
    height: 70% !important;
    max-width: 70% !important;
  }
}   

@media only screen and (min-device-width: 360px) and (max-device-width: 896px) { 

  h5 {
    font-size: 16px !important;
  }

  h6 {
    font-size: 12px !important;
  }

  #nav {
    padding: 0px;
  }

  .navbar {
    width: 80%;
    flex-wrap: none !important;
    line-height: 0rem;
    height: 2.5rem !important;
    align-items: center !important;
    box-shadow: 0 0 12px gray;  
  }

  .navbar-bottom {
    width: 60%;
    height: 2.5rem !important;
    box-shadow: 0 0 12px gray;  
  }

  .whitespace {
    height: $mobile-block-height;
  }

  .blur-block {
    height: $mobile-gradient-height;
  }

  .gradient {
    height: $mobile-gradient-height;
  }

  .w-100 {
    width: 75% !important;
    max-width: 75% !important;
  }

  a.anchor {
    top: -$mobile-block-height;
  }

  .navbar-brand {
    font-size: 18px !important;
    max-width: 25%;
  }
  .nav-link {
    font-size: 12px !important;
  }

  .container-md {
    padding: 0% !important;
    margin-left: 2.5% !important;
    margin-right: 2.5% !important;
    max-width: 95% !important;
  }

  .card {
    margin-bottom: 0px !important;
  }

  .card-subtitle {
    margin-left: 0px !important;
  }

  img {
    max-width: 100%;
    max-height: 100%;
    margin-top: 0px !important;
  }

  img.profile {
    margin-left: 0px;
    height: 150px;
  }

  .gif-image{
    margin: 16px 16px;
    height: auto;
  }

  .gif-image:last-child {
    margin-bottom: 0px;
  }

  .card-divide{
    flex-direction: column;
  }

  .card-flex {
    margin-top: 16px;
    gap: 0.5rem 2rem;
  }

  .icon-container {
    flex: 3;
    padding: 16px;
    border-left: none;
    border-top: solid 2px white !important;
    border-bottom: solid 2px white !important;
  }

  .image-container {
    flex-direction: column;
    float: none;
    // border-top: solid 2px white !important;
  }

  .card-text {
    font-size: 12px;
    padding: 0px;
    margin-bottom: 16px;
  }

  .still-image {
    margin: 0px;
  }

  .image-text {
    text-align: center;
    margin-top: 24px !important;
    margin-bottom: 4px;
    font-size: 12px;
  }

  #contact-container {
    flex-direction: row;
  }

  .contact-link {
    font-size: 16px;
  }

  .footer-text {
    font-size: 12px;
  }
}